doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        title Sutrix Champion Ship 2015
        link(rel='stylesheet', href='css/style.css')
    body
        include views/mixin/all
        include views/block/header
        block content
        include views/block/footer
        script(type='text/javascript', src='js/libs.js')
        script(type='text/javascript', src='js/app.js')
