extends ../layout.jade
block content
  .container.demo-1
    #slider.sl-slider-wrapper
      .sl-slider
        .sl-slide.bg-0(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
          .sl-slide-inner
            h1.logo: +img("Sutrix Media", "images/logo_sutrix.png")
            h2 Sutrix Champion League
            blockquote
              p
                | " To Be Or Not To Be "
              cite shakespeare
            .container
              table.table.table-hover.table-score
                thead
                  tr
                    th Team
                    th Thắng
                    th Hòa
                    th Thua
                    th Bàn thắng
                    th Bàn thua
                    th Hiệu số
                    th Điểm
                tbody
                  +scoreList([
                    {icon: "baohong", name: "Báo Hồng", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7},
                    {icon: "baohong", name: "Cún Con", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7},
                    {icon: "baohong", name: "Cọp Rằn", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7},
                    {icon: "baohong", name: "Khủng Long", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7},
                    {icon: "baohong", name: "Tia Chớp", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7},
                    {icon: "baohong", name: "Cá Mập", thang: 3, hoa: 1, thua: 0, bthang: 32, bthua: 2, hs: 30, d: 7}
                  ])

        .sl-slide.bg-3(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
          .sl-slide-inner
            .deco(data-icon='t')
            h2 Báo Hồng FC
            blockquote
              p
              | Những chú báo to khỏe lực lưỡng
              br
              cite Frontend Team
        .sl-slide.bg-5(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
          .sl-slide-inner
            .deco(data-icon='D')
            h2 Cún Con FC
            blockquote
              p
                | Những chú cún dễ xương
              cite Frontend Team
        .sl-slide.bg-2(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
          .sl-slide-inner
            .deco(data-icon='C')
            h2 Cọp Rằn FC
            blockquote
              p
                | Những con cọp to to
              cite PHP Team
        //- .sl-slide.bg-3(data-orientation='horizontal', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
        //-   .sl-slide-inner
        //-     .deco(data-icon='O')
        //-     h2 Dum spiro, spero
        //-     blockquote
        //-       p
        //-         | Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their lives worth living and who endured the awful suffering and the terror of the abattoirs.
        //-       cite Dame Jane Morris Goodall
        //- .sl-slide.bg-5(data-orientation='horizontal', data-slice1-rotation='-5', data-slice2-rotation='10', data-slice1-scale='2', data-slice2-scale='1')
        //-   .sl-slide-inner
        //-     .deco(data-icon='t')
        //-     h2 Acta Non Verba
        //-     blockquote
        //-       p
        //-         | I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.
        //-       cite Margi Clarke
      // /sl-slider
      nav#nav-arrows.nav-arrows
        span.nav-arrow-prev Previous
        span.nav-arrow-next Next
      nav#nav-dots.nav-dots
        span.nav-dot-current
        span
        span
        span
